/* color */

input#nav__input {
    display: none;
}

.nav {
    display: flex;
}

.nav__list {
    display: flex;
    justify-content: content;
    align-items: center;
}

.nav__link {
    padding: 2rem;
}

.nav__bar-btn {
    cursor: pointer;
}

.nav__mobile {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: #fff;
    transform: translateX(-100%);
    transition: all 0.4s ease-in-out;
}

.nav__mobile-link {
    display: block;
    padding: 1rem;
}

.nav__mobile-btn {
    cursor: pointer;
    display:block;
    z-index: 100;
}

.nav__input:checked~.nav__mobile {
    transform: translateX(0);
}

.nav__input:checked~.nav__overlay {
    display: block;
}





@media (max-width:1023px) {
    .nav__bar-btn {
        display: block;
    }

    .nav__pc {
        display: none;
    }
}


/* Poppins 400 */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Poppins 500 */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Poppins 600 */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Poppins 700 */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Poppins 800 */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

.brand-1 {
    color: #003BBA;
}

.brand-2 {
    color: #FF9900;
}

.black-1 {
    color: #FF9900;
}

.black-2 {
    color: #454545
}

.white {
    color: #FFFFFF;
    text-decoration: none;
}

/* font */

.h1-sb26 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
}

.h2-m18 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.content-r15 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.button-text-m16 {
    font-family: 'Poppins', sans-serif;
    line-height: 16px;
    font-size: 16px;
    font-weight: 500;
}

.max-width {
    max-width: 1224px;
}

.max-width-1 {
    max-width: 1224px;
}


.max-width-2 {
    max-width: 1224px;
}

.max-width-3 {
    max-width: 415px;
}

.max-width-4 {
    max-width: 1224px;
}

/* page */
html,
content body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    height: 100%;
}

.menu-open {
    width: 25px;
    height: 17px;
}

.menu-close {
    width: 20px;
    height: 20px;
}


.cover-container {
    background: url(/../assets/img/Rectangle2856.png);
    height: fit-content;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(8px);
    z-index: 0;
}

.header-container {
    background: rgba(0, 0, 0, 0.5);
}

.header-title {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.header-content {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    width: 55%;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 24px;
}

.header-trusted {
    width: 400px;
    height: 76px;
}

.trusted {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 12px;
}

.trusted-logo-top {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* header top */
.header-top {
    padding: 17px 0 24px 0;
    color: #FFFFFF;
    height: 70px;
    line-height: 100%;
    transition: all 0.5s;
    z-index: 10;
}

.header-top-alt {
    background: #FFFFFF;
    color: #454545;
    height: 70px;
    line-height: 100%;
    padding: 17px 0 24px 0;
    transition: all 0.5s;
}


.menu-item {
    padding-left: 40px;
}

.menu-item-selected {
    color: #003BBA;
    font-weight: 500;

}

#menu li:hover a {
    color: #003BBA;
    font-weight: 500;
}


.selected {
    color: #003BBA;
    font-weight: 500;
    display: inline-block;
    padding-bottom: 12px;
}

.selected:before {
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 25%;
    border-bottom: 1px solid #333;
}


.header-contact {
    border: 1px;
    padding: 12px 16px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}

/* header content */


.content-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content-box-left {
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
    width: calc(50% - 24px);
}


.content-box-right {
    width: calc(50% - 24px);
    gap: 24px;
}

.content-box {
    min-height: fit-content;
    padding: 96px 0px;
}

.content-box-1 {
    min-height: 688px;
    padding: 96px 0px;
    gap: 112px;
    display: flex;
    flex-direction: column;
}

.content-box-2 {
    min-height: fit-content;
    padding: 96px 0px;
}

.content-box-center {
    height: 232px;
    width: calc(50% - 12px);
    background-color: #F9F9F9;
    border-radius: 16px;
}

.content-box-center:hover {
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);

}

.content-bg {
    background: url(/../assets/img/Rectangle2878.png);
    min-height: 688px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(8px);
    transition: all 0.5s;
}

.content-filter {
    background: rgba(0, 0, 0, 0.6);
    min-height: 688px;
    width: 100%;
}

.content-center {
    height: 100%;
    width: 100%;
}

.content-center-top {
    color: #FFFFFF;
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
}

.content-center-bottom {
    width: 100%;
}

.select-box {
    border-bottom: 1px solid #A7A7A7;
    padding: 26px 0;
    height: 68px;
    width: 232px;
    gap: 16px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.select-box-selected {
    background: #FFFFFF;
    border-bottom: 1px solid #D9D9D9;
    color: #003BBA;
    transition: all 0.5s;
}

.select-box-selected {
    transition: all 0.5s;
}

.cct-center {
    width: 392px;
    font-size: 16px;
}

.cct-center-top {
    padding-bottom: 16px;
    line-height: 22px;

}

.cct-center-bottom {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;

}

.cct-box {
    font-size: 16px;
    font-weight: 500;
    padding: 16px 0;
    max-width: 232px;
    width: 100%;
}

.cct-right-top {
    margin-bottom: 32px;
}

.button-v1 {
    background: #003BBA;
}

.button-v1:hover {
    background: #024AE7;
}

.cct-right-bottom {
    padding: 12px 16px;
    gap: 10px;
    border-radius: 4px;
}

.content-title {
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
    padding-bottom: 48px;
    color: #003BBA;
}

.card {
    width: calc(33.33333333333% - 16px);
    border: 0;
    border-radius: 16px;
    color: #454545;
    z-index: 0;
}

.card-img {
    margin-bottom: 16px;
}

.card-title {
    color: #2C2C2C;
    font-weight: 500;
    line-height: 22px;
    font-size: 16px;
    overflow-y: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    line-clamp: 2;

}

.card-content {
    color: #454545;
    font-weight: 400;
    line-height: 24px;
    font-size: 15px;
    overflow-y: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 4;
    -moz-line-clamp: 4;
    -ms-line-clamp: 4;
    line-clamp: 4;

}

.bg-content {
    min-height: fit-content;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    padding: 48px 104px;
}

.filter-content {
    max-width: 100vw;
    width: 100%;
    background: #F9F9F9;
    min-height: 576px;
}

.title-content {
    max-width: 415px;
}


.carousel-indicators .indicator {
    background-color: #D9D9D9;
}

.carousel-indicators .indicator.active {
    background-color: #003BBA;
}

.carousel-indicators {
    position: absolute;
    bottom: 0px;
    margin: 0px;
    bottom: -30px;
}

.carousel-control-prev {
    position: absolute;
    left: -74px;
}

.carousel-control-next {
    position: absolute;
    right: -74px;
}

#carouselExampleIndicators {
    width: 392px;
}

.carousel-img {
    width: 100%;
}

.carousel-control-prev-icon {

    background: url(/../assets/img/prev.png);
    height: 40px;
    width: 40px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.carousel-control-next-icon {
    background: url(/../assets/img/next.png);
    height: 40px;
    width: 40px;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.carousel-caption {
    padding: 0;
    left: 24px;
    bottom: 24px;
}

.carousel-caption>h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.carousel-caption>p {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #FFFFFF;
}

.carousel-item {
    transition: all 0.3s;
}

.tc-title {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 16px;
}

.tc-content {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;

    color: #454545;
}

.read-more {

    margin-top: 16px;

}

.button-see-all {
    padding: 12px 32px;
    background: #003BBA;
    gap: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    line-height: 16px;
    color: #FFFFFF;
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    margin-top: 52px;
}

.button-see-all:hover {
    background: #024AE7;

}

.cerf-wrapper {
    padding: 0 0 96px;
}

.cerf-container {
    display: flex;
    flex-direction: row;

    width: 100%;
    gap: 16px;
}

.certificate {
    width: 253px;
    height: 197px;
    z-index: -1;
}

.cerf-bg {
    position: absolute;
    width: 253px;
    height: 152px;
    border-radius: 16px;
    background-color: #F9F9F9;
    z-index: 0;

}

.cerf {
    height: fit-content;
    width: fit-content;
    position: relative;
    z-index: 1;
    bottom: -40px;

}

.form {
    padding-bottom: 106px;
}

.form-input {
    width: 50%;
    background: #F9F9F9;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 68px 40px;
    gap: 16px;
}

.form-title {
    font-weight: 600;
    font-size: 26px;
    line-height: 36px;
    text-transform: capitalize;
}

.form-wrapper {
    width: calc(50% - 8px);
}

label.block {
    gap: 2px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #454545;
}

input.input {
    height: 40px;
    padding: 8px 12px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    border-radius: 4px;
}

input.input::before {
    color: #A8ABB2;
    border-radius: 4px;
}

input.input::after {
    color: #2C2C2C;
    border-radius: 4px;
}

.input:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

.input:focus {
    border: 1px solid #003BBA;
}

textarea:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

textarea:focus {
    border: 1px solid #003BBA;
}



.invalid-feedback {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #F42500;
}

.textarea {
    padding: 8px 12px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    border-radius: 4px;
}

.textarea::before {
    color: #A8ABB2;
}

.textarea::after {
    color: #2C2C2C
}

button.submit-button {
    background: #003BBA;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    padding: 12px 16px;
    color: #FFFFFF;
}

button.submit-button:hover {
    background: #024AE7;
}

.statuses {
    width: calc(50% - 128px);
}

.name-info {
    height: 50px;

}


.avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #2C2C2C;
}

.position {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #454545;
}

.quote {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #454545;

    overflow-y: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 4;
    -moz-line-clamp: 4;
    -ms-line-clamp: 4;
    line-clamp: 4;
}

/* footer */

.footer-wrapper {
    display: flex;
    flex-direction: row;
    max-width: 652px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer {
    background: #003BBA;
    color: #FFFFFF;
    width: 100%;

}

.pd-bottom-1 {
    padding-bottom: 32px;
}

.pd-bottom-2 {
    padding-bottom: 36px;
}

.footer-top {
    padding: 56px 0 30px;
}

.footer-top-1 {
    background: #003BBA;
    color: #FFFFFF;
    width: 307px;
}

.footer-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    opacity: 0.8;
}

.text-group {
    width: fit-content;
}

.footer-bottom {
    border: 1px solid #5975D9;
    padding: 16px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

.open-container {
    display: none;
}


@media only screen and (max-width: 1024px) {
    .open-container {
        display: flex;
        padding-left: 38px;
    }

    .max-width {
        max-width: 652px;
    }

    .max-width-1 {
        max-width: 443px;
    }

    .max-width-2 {
        max-width: 1024px;
    }

    .max-width-3 {
        max-width: 650px;
    }

    .max-width-4 {
        max-width: 652px;
    }

    .header-contact {
        padding: 12px 8px;
    }

    .header-content {
        width: 100%;
        max-width: 501px;
    }

    .trusted-logo-top {
        width: 24px;
        height: 24px;
    }

    .header-trusted {
        height: 60px;
        max-width: 224px;
        width: 100%;
    }

    .content-box-left {
        max-width: 411px;
        width: 100%;
    }

    .tc-title {
        max-width: 394px;
        width: 100%;
    }

    .content-box-right {
        width: 100%;
        gap: 20px;
    }

    .content-box-center {
        height: 200px;
        width: calc(50% - 10px);
        background-color: #F9F9F9;
        border-radius: 16px;
    }

    .content-box-1 {
        gap: 48px;
        padding: 226px 0px 214px;

    }

    .content-center-bottom {
        max-width: 335px;
        row-gap: 40px;
    }

    .select-box {
        width: 191px;
    }

    .cct-center {
        padding-bottom: 16px;
    }

    #carouselExampleIndicators {
        max-width: 392px;
        width: 80%;
    }

    .carousel-container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 48px;
    }


    .card {
        width: calc(50% - 10px);

    }

    .bg-content {
        padding: 0;
    }

    .filter-content {
        min-height: 720px;
        border-radius: 16px;
        width: 100%;
        margin: 0px 0px;
    }

    .content-box-2 {
        min-height: fit-content;
        padding-top: 48px;
        padding-bottom: 0px;
    }

    .wrapper {
        row-gap: 77px;
        column-gap: 96px;
    }

    .form {
        padding-bottom: 96px;
    }

    .cerf-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 652px;
        gap: 20px;
    }

    .certificate {
        width: 316px;
        height: 197px;
        z-index: -1;
    }

    .cerf-bg {
        position: absolute;
        width: 316px;
        height: 152px;
        border-radius: 16px;
        background-color: #F9F9F9;
        z-index: 0;
    }

    .statuses {
        width: 100%;
        max-width: 497px;
    }

    .form-input {
        width: 100%;
        max-width: 652px;
        padding: 48px 94px 56px;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: row;
        max-width: 652px;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer-top-1 {
        width: 100%;
    }

    .carousel-control-prev {
        left: -50px;
    }

    .carousel-control-next {
        right: -50px;
    }

    .pd-bottom-1 {
        padding-bottom: 24px;
    }


    .footer-bottom {
        padding-top: 12px;
        padding-bottom: 8px;
        font-size: 12px;
        line-height: 18px;
    }
}

@media only screen and (max-width: 480px) {
    .max-width {
        max-width: 339px;
    }

    .max-width-1 {
        max-width: 335px;
    }

    .max-width-2 {
        max-width: 100%;
    }

    .max-width-3 {
        max-width: 335px;
    }

    .max-width-4 {
        max-width: 100vw;
    }

    .rabiloo-logo {
        width: 100px;
    }

    .header-top {
        color: #FFFFFF;
        padding-top: 12px;
        padding-bottom: 12px;
        height: 56px;
        line-height: 100%;
        transition: all 0.5s;
    }

    .header-top-alt {
        background: #FFFFFF;
        color: #454545;
        padding-top: 12px;
        padding-bottom: 12px;
        height: 56px;
        line-height: 100%;
        transition: all 0.5s;
    }

    .header-contact {
        padding: 8px;
    }

    .open-container {
        padding-left: 29px;
    }

    .header-title {
        text-transform: none;
        max-width: 339px;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
    }

    .header-content {
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 24px;
        max-width: 339px;
    }

    .content-box-center {
        height: 50px;
        width: 50px;
        background-color: #F9F9F9;
        border-radius: 16px;
    }

    .content-box-center:hover {
        background: #FFFFFF;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    }

    .cbc-text {
        max-width: 64px;
        width: 100%;
    }

    .header-trusted {
        height: 54px;
    }

    /* body */

    .content-box-left {
        font-size: 20px;
        line-height: 28px;

    }

    .content-box-right {
        width: 100%;
        gap: 16px;
    }

    .content-box-center {
        height: 148px;
        width: calc(50% - 8px);
        border-radius: 16px;
    }

    .cbc-text {
        font-weight: 400;

        width: 109px;
        text-align: center;
    }

    .content-box {
        padding: 64px 0px;
    }

    .content-center-top {
        font-size: 20px;
        line-height: 28px;
    }

    .content-box-1 {
        gap: 36px;
        padding: 64px 0 74px;
    }

    .cct-center {
        padding-top: 4px;
    }

    .cct-right {
        padding-top: 4px;
    }

    .content-title {

        font-size: 20px;
        line-height: 28px;
        padding-bottom: 32px;
    }

    .card {
        width: 100%;
        border-radius: 16px;
    }

    .title-content {
        max-width: 335px;
        width: 100%;
    }

    .carousel-control-prev {
        position: absolute;
        left: -10px;
    }

    .carousel-control-next {
        position: absolute;
        right: -10px;
    }

    #carouselExampleIndicators {
        max-width: 335px;
        width: 100%;
    }

    .carousel-container {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 60px;
    }

    .content-box-2 {
        padding-left: 0;
        /* height: 100%;    
        justify-content: center; */
    }

    .carousel-header {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .filter-content {
        min-height: 656px;

    }

    .cerf-wrapper {
        padding: 0 0 64px;
    }

    .cerf-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 335px;
        gap: 15px;
    }

    .certificate {
        width: 160px;
        height: 124.57px;
        z-index: -1;
    }

    .cerf-bg {
        position: absolute;
        width: 160px;
        height: 96px;
        border-radius: 16px;
        background-color: #F9F9F9;
        z-index: 0;
    }

    .cerf {
        height: 98px;
        width: 98px;
        bottom: -29px;
    }


    .form-input {
        width: 100vw;
        max-width: 375px;
        padding: 32px 32px 35px;
    }

    .form-title {
        font-size: 20px;
        line-height: 28px;
        text-transform: none;
    }

    input.input {
        height: 40px;
        padding: 11px 12px;

    }

    .form-wrapper {
        width: 100%;
    }

    .form {
        padding: 0;
    }

    .pd-bottom-2 {
        padding-bottom: 28px;
    }

    .footer-bottom {
        padding-top: 18px;
        padding-bottom: 12px;
    }

    .tc-title {
        text-transform: none;
        font-size: 20px;
        line-height: 28px;
    }

    .filter-content {
        justify-content: center;
    }
}